:root{
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration:none !important; 
  color: inherit;
}

.product-image{
  max-width: 400px;
  width: 100%;
}

.rating span{
  color: #ffc000;
}

img.large{
  max-width: 100%;
}

img.thumbnail{
  height: 80px;
}

.small-container{
  max-width: 600px;
}